.form {
  margin: rem(100px) auto rem(300px);
  max-width: rem(400px);
  z-index: 999 !important;

  &__btn {
    cursor: pointer;
    display: block;
    border: 0;
    padding: rem(10px) rem(25px);
    background-color: #f73e41;
    color: #fff;
    border-radius: rem(4px);
    margin: rem(50px) auto;
  }

  &__input {
    margin-bottom: rem(10px);
  }

  &__help {
    align-items: center;
    margin-top: rem(40px);
    display: flex;
    justify-content: space-between;
    color: #000000;

    .el-checkbox {
      margin: 0;
    }
  }
}