.ocean {
  height: 5%;
  width:100%;
  position: fixed;
  bottom:0;
  left: 0;
  background: #a3a4fe;
}

.wave {
  background: url('../assets/wave.svg') repeat-x;
  position: absolute;
  top: rem(-198px);
  width: rem(6400px);
  height: rem(198px);
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: rem(-175px);
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: rem(-1600px);
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}