<template>
 <div>
  <form
    @submit.prevent="logInUser({ email, password })"
    class="form"
  >
    <el-input
      placeholder="Email"
      v-model="email"
      type="email"
      required
      class="form__input"
    >
      <template slot="prepend">Email</template>
    </el-input>
    <el-input
      placeholder="Password"
      v-model="password"
      type="password"
      required
    >
      <template slot="prepend">Password</template>
    </el-input>

    <div class="form__help">
      <el-checkbox>Remember Me</el-checkbox>
      <router-link to="/">Forgot password?</router-link>
    </div>

    <button
      type="submit"
      class="form__btn"
    >
      Login
    </button>
  </form>
 </div>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

export default {
  name: 'module-form',

  data() {
    return {
      email: '',
      password: '',
    };
  },

  methods: {
    ...mapActions([
      'login',
    ]),
    logInUser() {
      this.login({
        email: this.email,
        password: this.password,
      }).then(() => {
        this.$router.push('/home');
      });
    },
  },
};
</script>
