.home {

  &__title {
    text-align: center;
    margin-bottom: rem(50px);
  }

  &__post {
    background-color: lightblue;
    padding: rem(20px);
    border-radius: rem(4px);
    margin-bottom: rem(10px);
  }

  .h3 {
    text-transform: capitalize;
  }
}

.redBG {
  background-color: rgb(126, 4, 4);
  color: #ffffff;
}


