<template>
  <div class="home group">

    <!-- <pre>{{ posts }}</pre> -->
    <h1 class="home__title">Home</h1>
    <div
      v-for="(item, index) in posts"
      :key="index"
      class="home__post"
      id="post"
    >
      <router-link :to="`/post/${item.id}`">
        <h3 class="h3">{{ item.title }}</h3>
        <p>{{ item.body }}</p>
      </router-link>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
// Vuex
import { mapActions } from 'vuex';

export default {
  name: 'page-home',

  data() {
    return {
      posts: [],
    };
  },

  methods: {
    ...mapActions([
      'getPosts',
    ]),
    randomOrder(array) {
      let ctr = array.length, temp, index;

      while (ctr > 0) {
        index = Math.floor(Math.random() * ctr);
        ctr--;
        temp = array[ctr];
        array[ctr] = array[index];
        array[index] = temp;
      }
      return array;
    },
    apiCall() {
      this.getPosts()
        .then((res) => {
          const newArray = res.data;
          // Declare new Object
          const str = {
            title: 'The Toronto Raptors are going to win the finals',
            body: 'lorem Ipsum',
          };
          // Add new Object
          newArray.push(str);
          // Randomise Final Array
          this.posts = this.randomOrder(newArray);
        });
    },
  },

  // Lifecycle
  mounted() {
    this.apiCall();
  },
};
</script>

