<template>
  <div class="login group">
    <img
      :src="logo"
      alt="brand logo"
      class="login__img"
    >
    <module-form v-if="!isLoggedIn"/>
    <h1
      v-else
      class="login__title"
    >
      Succefully Logged In!
    </h1>

    <module-wave />
  </div>
</template>

<script>
// Vuex
import { mapGetters } from 'vuex';
// Assets
import ImageBrand from '@/assets/brandLogo.png';
// Modules
import ModuleForm from '@/components/modules/Form.vue';
import ModuleWave from '@/components/modules/Wave.vue';

export default {
  name: 'page-login',

  // Components
  components: {
    ModuleForm,
    ModuleWave,
  },

  data() {
    return {
      logo: ImageBrand,
    };
  },

  computed: {
    ...mapGetters([
      'isLoggedIn',
    ]),
  },
};
</script>
