<template>
  <div class="group">
    <h1>Single Post</h1>

    <!-- <pre>{{ article }}</pre> -->
    <div class="carda">
      <h3 class="carda__title">{{ (article.data || {}).title }}</h3>
      <p class="carda__copy">{{ (article.data || {}).body }}</p>

      <router-link to='/home'>Back</router-link>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'post-page',

  data() {
    return {
      id: this.$route.params.id,
      article: {},
    };
  },

  methods: {
    ...mapActions([
      'getPost',
    ]),

    apiCall() {
      this.getPost(this.id)
        .then((res) => {
          this.article = res;
        });
    },
  },

  created () {
    this.apiCall();
  },
};
</script>



