@charset 'UTF-8';

// ==== Framework ===================================================================
// Global
// =======================================================================


// ==== Global ==============================
// Box sizing fix
// ==========================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}


// ==== Global ==============================
// Base setup
// ==========================================

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  ::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
input,
button {
  font-family: $font-family-body;
}




