<template>
  <main id="app">

    <ui-menu />

  </main>
</template>

<script>
// Ui
import UiMenu from '@/components/ui/Menu.vue';

// Export
export default {
  name: 'app',
  components: {
    UiMenu,
  },
};
</script>
