<template>
  <nav>
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">Runner</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <b-nav-item to="/">LoginPage</b-nav-item>
          <b-nav-item
            v-if="isLoggedIn"
            to="/home"
          >
            HomePage
          </b-nav-item>

        </b-navbar-nav>

      </b-collapse>
      <b-button
        variant="danger"
        class="mr-2"
      >
        Login State: <strong>{{ isLoggedIn }}</strong>
      </b-button>
      <b-button
        variant="warning"
        v-if="isLoggedIn"
        @click="logOutUser"
      >
        Log Out
      </b-button>
    </b-navbar>

    <transition name="route-animation">
      <router-view/>
    </transition>
  </nav>
</template>

<script>
// Vuex
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'ui-menu',

  computed: {
    ...mapGetters([
      'isLoggedIn',
    ]),
  },

  methods: {
    ...mapActions([
      'logout',
    ]),
    logOutUser() {
      this.logout();
      this.$router.push('/');
    },
  },
};
</script>

